{% import "_includes/forms" as forms %}


{{ forms.selectField({
    label: "Position"|t,
    instructions: "Where the cookie consent model is placed"|t,
    id: 'position',
    name: 'position',
    options: { top: "Top"|t, toppush: "Top Pushdown"|t, bottom: "Bottom"|t, left: "Left"|t, right: "Right"|t, "bottom-left": "Bottom Left", "bottom-right":"Bottom Right"},
    value: settings.position
}) }}

{{ forms.selectField({
    label: "Layout"|t,
    instructions: "The layout-style of the modal"|t,
    id: 'layout',
    name: 'layout',
    options: { block: "Block"|t, classic: "Classic"|t, edgeless: "Edgeless"|t, wire: "Wire"|t },
    value: settings.layout
}) }}
<hr>
{{ forms.selectField({
    label: "Palette"|t,
    instructions: "The layout-style of the modal"|t,
    id: 'palette',
    name: 'palette',
    options: { default: "Default"|t,  ice: "Ice"|t,  cleanblue: "Clean Blue"|t,  greenblack: "Green on Black"|t,  pink: "Pink"|t,  purple: "Purple"|t,  blue: "Blue"|t,  red: "Red"|t,  white: "White"|t,  graygreen: "Green on Dark Gray"|t,  orange: "Orange"|t,  whitegreen: "Green on white"|t},
    value: settings.palette
}) }}

{{ forms.colorField({
    label: "Banner Background"|t,
    instructions: "Background color for the modal banner"|t,
    id: 'palette_banner',
    name: 'palette_banner',
    value: settings.palette_banner
}) }}

{{ forms.colorField({
    label: "Button Background"|t,
    instructions: "Background color for the modal button"|t,
    id: 'palette_button',
    name: 'palette_button',
    value: settings.palette_button
}) }}

{{ forms.colorField({
    label: "Banner Text"|t,
    instructions: "Color for the modal banner text"|t,
    id: 'palette_banner_text',
    name: 'palette_banner_text',
    value: settings.palette_banner_text
}) }}

{{ forms.colorField({
    label: "Button Text"|t,
    instructions: "Color for the modal button text"|t,
    id: 'palette_button_text',
    name: 'palette_button_text',
    value: settings.palette_button_text
}) }}
<script>
    var themes = {
        'default':    {
            "popup":  {
                "background": "#000"
            },
            "button": {
                "background": "#f1d600"
            }
        },
        'ice':        {
            "popup":  {
                "background": "#eaf7f7",
                "text":       "#5c7291"
            },
            "button": {
                "background": "#56cbdb",
                "text":       "#ffffff"
            }
        },
        'cleanblue':  {
            "popup":  {
                "background": "#252e39"
            },
            "button": {
                "background": "#14a7d0"
            }
        },
        'greenblack': {
            "popup":  {
                "background": "#000",
                "text":       "#0f0"
            },
            "button": {
                "background": "#0f0"
            }
        },
        'pink':       {
            "popup":  {
                "background": "#3937a3"
            },
            "button": {
                "background": "#e62576"
            }
        },
        'purple':     {
            "popup":  {
                "background": "#64386b",
                "text":       "#ffcdfd"
            },
            "button": {
                "background": "#f8a8ff",
                "text":       "#3f0045"
            }
        },
        'blue':       {
            "popup":  {
                "background": "#237afc"
            },
            "button": {
                "background": "#fff",
                "text":       "#237afc"
            }
        },
        'red':        {
            "popup":  {
                "background": "#aa0000",
                "text":       "#ffdddd"
            },
            "button": {
                "background": "#ff0000"
            }
        },
        'white':      {
            "popup":  {
                "background": "#edeff5",
                "text":       "#838391"
            },
            "button": {
                "background": "#4b81e8"
            }
        },
        'graygreen':  {
            "popup":  {
                "background": "#3c404d",
                "text":       "#d6d6d6"
            },
            "button": {
                "background": "#8bed4f"
            }
        },
        'orange':     {
            "popup":  {
                "background": "#eb6c44",
                "text":       "#ffffff"
            },
            "button": {
                "background": "#f5d948"
            }
        },
        'whitegreen': {
            "popup":  {
                "background": "#efefef",
                "text":       "#404040"
            },
            "button": {
                "background": "#8ec760",
                "text":       "#ffffff"
            }
        }
    };
    window.addEventListener("load", function () {
        var banner_bg   = $('#settings-palette_banner');
        var button_bg   = $('#settings-palette_button');
        var banner_text = $('#settings-palette_banner_text');
        var button_text = $('#settings-palette_button_text');

        $('#settings-palette').on('change', function () {
            update_palette($(this).val());
        });


        $(document).on('change', '#settings-position, #settings-layout, #settings-palette_banner, #settings-palette_button, #settings-palette_banner_text, #settings-palette_button_text, #settings-message, #settings-dismiss, #settings-learn', function () {
            update_demo();
        });

        function update_palette(sel) {
            var palette = themes[sel];

            console.log(palette);

            banner_bg.val(palette.popup.background || '#000000');
            button_bg.val(palette.button.background || '#f1d600');
            banner_text.val(palette.popup.text || '#ffffff');
            button_text.val(palette.button.text || '#000000');

            update_demo();
        }

        function update_demo() {
            console.log('updating demo...');
            $('.cc-window').remove();

            window.cookieconsent.initialise({
                "palette":  {
                    "popup":  {
                        "background": banner_bg.val(),
                        "text":       banner_text.val()
                    },
                    "button": {
                        "background": $('#settings-layout').val() == 'wire' ? 'transparent' : button_bg.val(),
                        "text":       $('#settings-layout').val() == 'wire' ? button_bg.val() : button_text.val(),
                        "border":     $('#settings-layout').val() == 'wire' ? button_bg.val() : undefined
                    }
                },
                "position": $('#settings-position').val() == 'toppush' ? 'top' : $('#settings-position').val(),
                "static":   $('#settings-position').val() == 'toppush',
                "theme":    $('#settings-layout').val(),
                "content":  {
                    "message": $("#settings-message").val(),
                    "dismiss": $("#settings-dismiss").val(),
                    "link":    $("#settings-learn").val(),
                    "href":    $("#settings-learn_more_link").val()
                }
            });
        }

        update_demo();
    });
</script>
<hr>
{{ forms.textField({
    label: "Learn More Link"|t,
    id: 'learn_more_link',
    name: 'learn_more_link',
    instructions: "Link to learn more about the Cookie law"|t,
    value: settings.learn_more_link,
    errors: settings.getErrors('learn_more_link')
}) }}

{{ forms.textField({
    label: "Learn More Text"|t,
    id: 'learn',
    name: 'learn',
    instructions: "text displayed on the learn more link"|t,
    value: settings.learn,
    errors: settings.getErrors('learn')
}) }}
<hr>
{{ forms.textareaField({
    label: "Message"|t,
    id: 'message',
    name: 'message',
    instructions: "Message displayed on the dialog, keep it short and meaningful"|t,
    value: settings.message,
    errors: settings.getErrors('message'),
    rows: 3
}) }}


{{ forms.textField({
    label: "Dismiss Button Text"|t,
    id: 'dismiss',
    name: 'dismiss',
    instructions: "text displayed on the Dismiss button, keep it short (1-2 words)"|t,
    value: settings.dismiss,
    errors: settings.getErrors('dismiss')
}) }}
